<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
  {{ include("components/header.twig.html") }}
  <div class="main">
    {{ include("components/public_nav.twig.html") }}
    <div class="page">
      {% if errors %}
          <div><ol>
          {% for error in errors %}
              <li class="errors">{{ error }}</li>
          {% endfor %}
          </ol></div>
      {% endif %}
      <h2>Admin Login</h2>
      <form action="admin_login.php" method='post'>
        <div class='flex-form'>
          <input type='text' name='username' placeholder='Username' />
          <input type='password' name='password' placeholder='Password' />
        </div>
          <button class='cancel' type='submit' name='submit'>Login</button>
      </form>
    </div>
  </div>
  {{ include("components/footer.twig.html") }}
</body>
</html>