<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
  {{ include("components/header.twig.html") }}
  <div class="main">
    {{ include("components/nav.twig.html") }}
    <div class="page">
      <h2>Admin Menu</h2>
      <p>Welcome to the admin area.</p>
      <ul>
        <li><a href="manage_content.php">Manage Website Content</a></li>
        <li><a href="index.php">Manage Admin Users</a></li>
        <li><a href="logout.php">Logout</a></li>
      </ul>
    </div>
  </div>
  {{ include("components/footer.twig.html") }}
</body>
</html>