{% set currentPage = pages[subject_id][page_id] %}
{% set currentSubject = subjects[subject_id] %}

<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
    {{ include("components/header.twig.html") }}
    <div class="main">
        {{ include("components/public_nav.twig.html") }}
        <div class="page">
            <div>
                {% if currentSubject %}
                    <h2 class="page-message">{{ currentSubject.menu_name }}</h2>
                {% elseif currentSubject and currentPage %}
                    <h2 class="page-message">{{ currentPage.menu_name }}</h2>
                {% else %}
                    <h2 class="page-message">{{ Content }}</h2>
                {% endif %}
                {% if currentPage %}
                    <p>{{ currentPage.menu_name }}</p>
                    <br>
                    <p>
                        <textarea rows="20" cols="100" disabled>{{ currentPage.content }}</textarea>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    {{ include("components/footer.twig.html") }}
</body>

</html>