{% set currentPage = pages[subject_id][page_id].menu_name %}
{% set currentSubject = subjects[subject_id].menu_name %}

<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
    {{ include("components/header.twig.html") }}
    <div class="main">
        {{ include("components/nav.twig.html") }}
        <div class="page">
            <div>
                <h2>{{ message ? message : 'Manage Content' }}</h2>
                {% if currentPage %}
                    <p>{{ currentPage }}</p>
                {% elseif currentSubject %}
                    <p>{{ currentSubject }}</p>
                {% else %}
                {% endif %}
            </div>
            {% if subject_id and not page_id %}
                <a href="edit_subject.php?subject={{subject_id}}">Edit Subject</a>
            {% endif %}
        </div>
    </div>
    {{ include("components/footer.twig.html") }}
</body>

</html>