{% set currentPage = pages[subject_id][page_id] %}
{% set currentSubject = subjects[subject_id] %}

<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
    {{ include("components/header.twig.html") }}
    <div class="main">
        {{ include("components/nav.twig.html") }}
        <div class="page">
            <div>
                <h2 class="page-message">{{ message ? message : 'Manage Content' }}</h2>
                {% if currentPage %}
                    <p>Menu Name: {{ currentPage.menu_name }}</p>
                    <p>Position: {{ currentPage.position }}</p>
                    <p>Visible: {{ currentPage.visible ? 'Yes' : 'No' }}</p>
                    <p>
                        Content:
                        <br>
                        <textarea rows="20" cols="100" disabled>{{ currentPage.content }}</textarea>
                    </p>
                {% elseif currentSubject %}
                    <p>Menu Name: {{ currentSubject.menu_name }}</p>
                    <p>Position: {{ currentSubject.position }}</p>
                    <p>Visible: {{ currentSubject.visible ? 'Yes' : 'No' }}</p>
                {% else %}
                {% endif %}
            </div>
            {% if subject_id and page_id %}
                <a class="cancel" href="edit_page.php?subject={{subject_id}}&page={{page_id}}">Edit Page</a>
                <a class="cancel" href="delete_page.php?page={{page_id}}">Delete Page</a>
            {% elseif subject_id and not page_id %}
                <a class="cancel" href="new_page.php?subject={{subject_id}}">New Page</a>
                <a class="cancel" href="edit_subject.php?subject={{subject_id}}">Edit Subject</a>
                <a class="cancel" href="delete_subject.php?subject={{subject_id}}">Delete Subject</a>
            {% endif %}
        </div>
    </div>
    {{ include("components/footer.twig.html") }}
</body>

</html>