<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
  {{ include("components/header.twig.html") }}
  <div class="main">
    {{ include("components/nav.twig.html") }}
    <div class="page">
      <h2>{{ message ? message : 'Manage Admins' }}</h2>
      <p>Current Admins:</p>
      {% if admins|length == 0 %}
        <p>There are currently no admins</p>
      {% else %}
        <div>
          <div class="admin-list" style="color:black;">
            <p><strong>Username</strong></p>
            <p><strong>Action</strong></p>
          </div>
          {% for admin in admins %}
            <div class="admin-list">
              <p>{{ admin.username }}</p>
              <div>
                <a href="edit_admin.php?admin={{admin.id}}">Edit</a> | <a href="delete_admin.php?admin={{admin.id}}">Delete</a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <a class="cancel" href="create_admin.php">New Admin</a>
    </div>
  </div>
  {{ include("components/footer.twig.html") }}
</body>
</html>