<!DOCTYPE html>
<html lang="en">
{{ include("components/meta.twig.html") }}
<body>
  {{ include("components/header.twig.html") }}
  <div class="main">
    {{ include("components/nav.twig.html") }}
    <div class="page">
      <h2>{{ message ? message : 'Manage Admins' }}</h2>
      <p>Current Admins:</p>
      {% if admins|length == 0 %}
        <p>There are currently no admins</p>
      {% else %}
        <ol>
          {% for admin in admins %}
            <li><a href="#">{{ admin.username }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <a class="cancel" href="create_admin.php">New Admin</a>
    </div>
  </div>
  {{ include("components/footer.twig.html") }}
</body>
</html>