<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/public.css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="container">
      <h1>Widget Corp</h1>
    </div>
  </div>
  <div class="main">
    <div class="navigation">
      <h2>Widget Corp</h2>
    </div>
    <div class="page">
      <h2>Admin Menu</h2>
      <p>Welcome to the admin area.</p>
      <ul>
        <li><a href="manage_content.php">Manage Website Content</a></li>
        <li><a href="manage_admins.php">Manage Admin Users</a></li>
        <li><a href="logout.php">Logout</a></li>
      </ul>
    </div>
  </div>
  <div class="footer">
    <p>Copyright 2017, Widget Corp</p>
  </div>
</body>
</html>